<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
        <servlet-name>servletone</servlet-name>
        <servlet-class>com.yale.servletone.AppServletOne</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletone</servlet-name>
        <url-pattern>/servletone</url-pattern>
    </servlet-mapping>
</web-app>